
<div class="card shadow bg-light rounded" id="shadow">
    <div class="card-body">
      <h5 class="card-title">{{project.tituloProyecto}}
        <fa-icon 
          *ngIf="esEditable" 
          [icon]="faCircleMinus" 
          (click)="onDelete(project)" 
          [ngStyle]="{'color':'red'}"
          >
        </fa-icon>
        &nbsp;&nbsp;
        <fa-icon
          [icon]="faPen"
          [ngStyle]="{'color':'#e96700'}"
          *ngIf="esEditable"
          (click)="onEdit()"
          >
        </fa-icon>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">{{project.tecnologias}}</h6>
      <p class="card-text">{{project.descripcionProyecto}}</p>
      <a [href]="project.linkProyecto" class="card-link">Ir al proyecto</a>
      
    </div>
</div>


