<div class="container-fluid bg-primary bg-opacity-50">
    <div class="row">
        <div class="col">
            <p class="text-start">Hecho por Andrés Martin.</p>
        </div>

        <div class="col" >
            <h6 class="text-center"> {{persona.nombre | titlecase}} {{persona.apellido | titlecase}} </h6>
        </div>

        <div class="col">
            <a class="text-center" aria-current="page" routerLink="/editar">Editar</a>
        </div>
        
        <div class="col">
            <p class="text-end">
                Dale un vistazo a 
                <a href="https://www.instagram.com/yurcabeer/?hl=es-la" alt="link a YurcaBeer">
                    @YurcaBeer
                </a>
            </p>
        </div>
    </div>
</div>