<div class="container-fluid row bg-success bg-opacity-50 border border-light">
    <div class="col">
        <p class="text-left">Andrés N. Martin. Alguna licencia (C)</p>
    </div>
    <div class="col">
        <p class="text-center">Esto es el Footer 
            <span><a routerLink="/login">Login</a></span>
            
        </p>        
    </div>
    <div>
        <span><a routerLink="/editJobs">Editar</a></span>
    </div>
    <div class="col">
        <p class="text-right">Dale un vistazo a <a href="https://www.instagram.com/yurcabeer/?hl=es-la" alt="link a YurcaBeer">@YurcaBeer</a></p>
    </div>
</div>