<div class="container-fluid bg-opacity-0 ">
    <div class="row">
        <div class="col">
            <p class="text-start">Hecho por Andrés Martin.</p>
        </div>

        <!-- Al pie de página, el nombre del usuario -->
        <div class="col" >
            <h6 class="text-center"> {{persona.nombre | titlecase}} {{persona.apellido | titlecase}} </h6>
        </div>

    <!--<div class="col">
            <p class="text-end">
                Dale un vistazo a 
                <a href="https://www.instagram.com/yurcabeer/?igshid=YmMyMTA2M2Y=" alt="link a YurcaBeer">
                    @YurcaBeer
                </a>
            </p>
        </div> -->
        <div class="col">
            <p class="text-end">2022</p>
        </div>
    </div>
</div>