<form [formGroup]="userForm" (ngSubmit)="enviar()" class="row g-3" >
  <div class="col-md-6">
    <label class="form-label">Nombre:</label>
    <input type="text" formControlName="nombre" class="form-control" placeholder="Obligatorio">
  </div>
  <div class="col-md-6">
    <label class="form-label">Apellido:</label>
    <input type="text" formControlName="apellido" class="form-control" placeholder="Obligatorio">
  </div>
  <div class="col-md-6">
    <label class="form-label">Email:</label>
    <input type="email" formControlName="email" class="form-control" placeholder="Obligatorio">
  </div>
  <div class="col-md-6">
    <label class="form-label">Párafo de presentación:</label>
    <textarea 
        type="text" 
        formControlName="parrafoPresentacion" 
        class="form-control" 
        rows="4" 
        ngbPopover="Debe tener entre 140 y 1000 caracteres" 
        triggers="mouseenter:mouseleave" 
        popoverTitle="Párrafo de presentación" 
        placeholder="Obligatorio"
    ></textarea>
  </div>
  <div class="col-md-6">
    <label class="form-label">Frase de presentación:</label>
    <input type="text" formControlName="frasePresentacion" class="form-control" ngbPopover="Debe tener entre 10 y 280 caracteres" 
    triggers="mouseenter:mouseleave" popoverTitle="Frase de presentación" placeholder="Obligatorio">
  </div>
  <div class="col-md-6">
    <label class="form-label">Url a una imagen:</label>
    <input type="text" formControlName="linkFoto" class="form-control" placeholder="Obligatorio">
  </div>
  <div class="col-md-6">
    <label class="form-label">Linkedin:</label>
    <input type="text" formControlName="linkedin" class="form-control" placeholder="Obligatorio">
  </div>
  <div class="col-md-6">
    <label class="form-label">Github:</label>
    <input type="text" formControlName="github" class="form-control" placeholder="">
  </div>
  <div class="col-md-6">
    <label class="form-label">Otra Red Social:</label>
    <input type="text" formControlName="redSocial" class="form-control">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Enviar</button>
  </div>
</form>

<!--  -->