<div>
  <svg width="120" height="120" viewbox="0 0 120 120" class="progress__svg">
    <!-- <g> -->
      <circle
        [attr.r]="radius"
        cx="60"
        cy="60"
        stroke-width="12"
        class="progress__meter"
      />
      <circle
        [style.strokeDasharray]="circumference"
        [style.strokeDashoffset]="dashoffset"
        [attr.r]="radius"
        cx="60"
        cy="60"
        stroke-width="12"
        class="progress__value"
      />
      <text x="50%" y="50%" text-anchor="middle" stroke="blue" stroke-width="1px" dy=".3em">{{skill.habilidad}}</text>
    <!-- </g> -->
  </svg>
</div>


