<div class="card p-3"> <!--style="width: 18rem;"-->
    <h5 class="card-title">{{skill.habilidad | titlecase}}
        <fa-icon *ngIf="esBorrable" [icon]="faCircleMinus" (click)="onDelete(skill)"></fa-icon>
    </h5>
    <div class="progress" style="height: 10px;">
        <div class="progress-bar" role="progressbar" [ngStyle]="{width: skill.progress + '%'}" [attr.aria-valuenow]="progreso" aria-valuemin="0" aria-valuemax="100"></div>
    <!-- style="width: 5%;" aria-valuenow="75" [style.width.%]="progreso"   -->
    </div>
    <p>{{skill.progress}}</p>
</div>

