<div *ngIf="loading" class="d-flex justify-content-center">
  <app-spinner></app-spinner>
</div>
<!-- PROGRESS BAR EN FORMATO BARRA -->
      
<div>
  <h2 class="text-center"></h2>
  <div class="p-3">
      <div class="row">
          <div class="row row-cols-1 row-cols-md-2">
              <app-skill-card *ngFor="let skill of skills" [skill]="skill" (onDeleteSkill)="deleteSkill(skill)" [esBorrable]="isLogged"></app-skill-card>
          </div>
      </div>
  </div>
</div>

<!-- SE VEÍA MAL EL PROGRESS BAR CIRCLE -->