<form #prodForm="ngForm" (ngSubmit)="onSubmit">
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" 
                required email
                [(ngModel)]="user.email" name="email" #email="ngModel">
        <div *ngIf="!email.valid && !email.pristine" 
            class="alert alert-danger" role="alert">Por favor escriba su email
        </div>
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="InputPassword"
            required minlength="6"
            [(ngModel)]="user.password" name="password" #password="ngModel">
        <div *ngIf="!password.valid && !password.pristine" class="alert alert-danger" role="alert">
            Al menos debe escribir 6 caracteres
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="!prodForm.valid">Log In</button>
</form>
<br>
