<hr>
<div>
    <h5><strong>{{edu.titulo | titlecase }} </strong>
        <fa-icon 
            *ngIf="esEditable" 
            [icon]="faCircleMinus" 
            (click)="onDelete(edu)"
            [ngStyle]="{'color':'red'}"
            >
        </fa-icon>
        &nbsp;&nbsp;
        <fa-icon
          [icon]="faPen"
          [ngStyle]="{'color':'#e96700'}"
          *ngIf="esEditable"
          (click)="onEdit()"
          >
        </fa-icon>
    </h5>
    <p class="ls-sm">
        <span class="h6">{{edu.lugar | titlecase }} </span><span class="text-muted">( {{edu.anioFin}} )</span>
         {{edu.descripcion}}.         
    </p>
</div>
<hr>
