<div class="d-flex flex-row justify-content-center bg-light" id="inicio">
    <!-- class="presentacion d-flex flex-row" -->
    <div class="align-self-center">
        <h2>Hola, soy {{persona.nombre | titlecase}} </h2>
        <p id="newLines"> {{persona.frasePresentacion}} </p>
        
    </div>
    
    <img [src]="persona.linkFoto" alt="Andres Martin" class="img-thumbnail align-self-center" id="fotoCarnet">
    
</div>

<!-- <app-skills-list></app-skills-list> -->
<app-skill-flyer></app-skill-flyer>

<div id="seccionProyectos">
    <app-proyectos></app-proyectos>
</div>