<div class="d-flex flex-row justify-content-center bg-light" id="inicio">
    <!-- class="presentacion d-flex flex-row" -->
    <div class="align-self-center">
        <h2>Hola, soy Andrés</h2>
        <p>Soy desarrollador Full Stack</p>
        <p>También Ingeniero Agrónomo</p>
    </div>
    
    <img [src]="miFoto" alt="Andres Martin" class="img-thumbnail align-self-center" id="fotoCarnet">
    
</div>

<!-- <app-skills-list></app-skills-list> -->
<app-skill-flyer></app-skill-flyer>

<div id="seccionProyectos">
    <app-proyectos></app-proyectos>
</div>