

#inicio {
    height: 75vh;
    // background-color: blue;
    /* background-image: url("/assets/escritorio3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; */
}

#fotoCarnet {
    border-radius: 50%;
    max-height: 180px;
    max-width: 180px;
}

#preline {
    white-space: pre-line;/*Salta de línea si hay un punto*/
}

#em {
    height: 1em;
    widht: 1em;
}

#t48 {
    height: 48px;
    width: 48px;
    fill: green;
}

#t64 {
    height: 64px;
    width: 64px;
}

#circle {
    border-radius: 50%;
}




