<form class="row g-3" (ngSubmit)="onSubmit()">
  <div class="col-md-6">
    <label for="tituloProyecto" class="form-label">Título del proyecto</label>
    <input type="text" class="form-control" id="tituloProyecto" name="tituloProyecto" [(ngModel)]="tituloProyecto">
  </div>
  <div class="col-md-6">
    <label for="descripcionProyecto" class="form-label">Descripción del proyecto</label>
    <input type="text" class="form-control" id="descripcionProyecto" name="descripcionProyecto" [(ngModel)]="descripcionProyecto">
  </div>
  <div class="col-md-6">
    <label for="tecnologias" class="form-label">Tecnologías empleadas</label>
    <input type="text" class="form-control" id="tecnologias" name="tecnologias" placeholder="Angular, Java, etc." [(ngModel)]="tecnologias">
  </div>
  <div class="col-md-6">
    <label for="snapshot" class="form-label">Snapshot</label>
    <input type="text" class="form-control" id="snapshot" name="snapshot" placeholder="url de la foto del proyecto" [(ngModel)]="snapshot">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>


</form>
