<div>
    <form [formGroup]="form" (ngSubmit)="login()">
        <div>
            <label for="email"></label>
            <br>
            <input type="email" name="email" id="email" formControlName="email"><!--name y id no son necesarios acá-->
        </div>

        <div>
            <label for="password"></label>
            <br>
            <input type="password" name="password" id="password" formControlName="password">
        </div>
        
        <hr>
        <div>
            <button [disabled]="form.invalid">Login</button>
        </div>
        
    </form>
</div>