
<div class="row m-3">
  <div class="col">
    <p class="text-center">Seleccione el área que desea editar:</p>
  </div>

  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="opcion='a'">Experiencia Laboral</button>
        <button ngbDropdownItem (click)="opcion='b'">Educación</button>
        <button ngbDropdownItem (click)="opcion='c'">Proyectos</button>
        <button ngbDropdownItem (click)="opcion='d'">Skills</button>
        <button ngbDropdownItem (click)="opcion='e'">Persona</button>
      </div>
    </div>
  </div>
</div>
<!--Editar experiencia laboral-->
<div class="" *ngIf="opcion == 'a'">
  <div class="">
    <app-add-job></app-add-job>
  </div>
  <div class="">
    <app-jobs-flyer></app-jobs-flyer>
  </div>
</div>

<div class="row" *ngIf="opcion == 'b'">
  <div class="col">

    <h1 class="text-center">HOLA EDIT edu</h1>

  </div>
  <div class="col">

    <app-edu-flyer></app-edu-flyer>

  </div>
</div>

<div class="row" *ngIf="opcion == 'c'">
  <div class="col">

    <h1 class="text-center">HOLA EDIT proyectos</h1>

  </div>
  <div class="col">

    <app-proyectos></app-proyectos>

  </div>
</div>

<div class="row" *ngIf="opcion == 'd'">
  <div class="col">

    <h1 class="text-center">HOLA EDIT skills</h1>

  </div>
  <div class="col">

    <app-skills-list></app-skills-list>

  </div>
</div>

<div class="row" *ngIf="opcion == 'e'">
  <div class="col">
    <h1 class="text-center">HOLA EDIT Persona</h1>
  </div>

  <div class="col">
    <h1>Acá va la persona</h1>
  </div>
</div>