.social {
    display: block;
    padding: 3rem;
    margin-top: 0.6rem;
}

.social > .social-icon {
    display: inline-block;
    width: 3.4rem;
    height: 3.4rem;
    margin: 0.2rem 0.5rem;
    background-color: aqua;

}

img {
    height: 100%;
    width: 100%;
}
