/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
/* Montserrat m500 sb600 - Poppins sb600 sb600i */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:ital,wght@0,600;1,600&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}

.fondo {
    background-image: url("/assets/overlayInkscape6.svg#svgView(preserveAspectRatio(none))");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center ;
     
}



/* Para capitalizar solo la primer letra de un título o párrafo */
.capitalize-first::first-letter {
    text-transform: uppercase;
}

/* Para que footer quede siempre abajo*/
.full {
    min-height: 75vh;
  }

.rounded-custom {
    border-radius: 50px;
}

.mb-10 {
    margin-bottom: 10rem;
  }


