/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



/* body {
    font-family: 'Montserrat';
} */

/* Para capitalizar solo la primer letra de un título o párrafo */
.capitalize-first::first-letter {
    text-transform: uppercase;
}

/* Para que footer quede siempre abajo*/
.full {
    min-height: 80vh;
  }

/* div {
    border-radius: 13px;
}
 */

