<div>
    <div>
        <h5>{{job.empresa | titlecase}} 
            <fa-icon *ngIf="isEditable" [icon]="faCircleMinus" (click)="onDelete()"></fa-icon>
        </h5>
        <h6 class="capitalize-first">{{job.posicion}} -
            <span class="text-muted">
                 ({{job.fechaInicio}} - 
                <span *ngIf="!job.esActual">{{job.fechaFin}}</span>
                <span *ngIf="job.esActual">Actual</span>
                 )
            </span>
        </h6>
        <p class="capitalize-first">{{job.descripcion}}</p>
    </div>
    
</div>
